<div class="bg-slate-950 h-screen w-screen">
    <div class="flex flex-col w-[700px] mx-auto h-full overflow-auto">
        <div class="flex-grow flex p-4 gap-1 flex-col bg-slate-600">
            @for (item of chatHistory; track $index) {
                <div class="p-2 rounded-md" [ngClass]="item.from == 'user' ? 'ml-auto bg-red-200' : 'mr-auto bg-blue-400'">
                    <markdown [data]="item.message"></markdown>
                </div>                
            }
        </div>
        <div class="flex justify-center items-center h-[80px] bg-purple-400">
            <div class="flex px-3 items-center h-[60px] w-[600px] bg-transparent rounded-lg">
                <input [(ngModel)]="prompt" type="text" >
                <button (click)="sendPromt()" [disabled]="prompt == ''">Send Message</button>
            </div>
        </div>
    </div>
</div>
